@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

.navbar .container .navbar-brand span{
    color: yellow;
}

.hero-section .container button{
    background-color: antiquewhite;
}


.hero-section{
    background-image: url(../img/image.png) ;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    width: 100%;
}

.hero-section::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    background: linear-gradient(
        1deg,
        rgba(1, 1, 3, 1) 10%,
        rgba(255, 255, 255, 0) 30%
    );
}

.hero-section .container h1{
    font-size: 7em;
    text-shadow: 3px 1px 2px rgb(1, 1, 3, 0.5);
    font-family: 'poppins', sans-serif;
}

.hero-section .container p{
    font-size: 2em;
}

/* about */
.about-section{
    background-color: black;
}



/* produk */
.produk-section{
    background-color: rgb(0, 0, 0);
    h1{
        color: white;
    }
}

.produk-section .card{
    background-color: rgb(113, 107, 102);
    p{
        color: white;
    }
    box-shadow: 1px 1px 5px rgb(10, 0, 0, 0.5);
}

/* kontak */
.kontak-section{
    background-color: black;
}









